flake8==3.7.9

# Deps do pytest
pyparsing==2.0.2
six==1.13.0
attrs==17.4.0
py==1.10.0
colorama==0.4.1
packaging==19.2
wcwidth==0.1.7
pluggy==0.13.1
more_itertools==7.2.0
atomicwrites==1.3.0

#Covegare
pytest-cov==2.8.1
coverage==4.5.4
-r requirements.txt
